*{
    margin: 0;
    padding: 0;
}

/*start main styles*/
body{
    background: #181818;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
}
.btn{
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    padding: 10px 20px;
    outline: none;
    transition: all .25s ease,height .2s ease;
}
.btn:hover{
    background-color: #fff;
    color: #000;
}
.bnt-blue{
    background-color: #4452FE;
    border: none;
    font-weight: 700;
}
.bnt-blue:hover{
    color: #4452FE;
}
/*end main styles*/

/*start header*/
header{
    margin-bottom: 200px;
    margin-top: 30px;
}
.header{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}
.header__main-title{
    margin-bottom: 35px;
    margin-top: 100px;
    max-width: 800px;
    text-align: center;
    line-height: 1.4;
    font-size: 50px;
}
.header__subtitle{
    font-weight: 300;
    text-align: center;
    max-width: 510px;
}
.logo{
    color: #fff;
    font-weight: 700;
}
.logo:hover{
    color: #fff;
    text-decoration: none;
}
.header__buttons{
    display: flex;
    column-gap: 30px;
    margin-top: 185px;
}
/*end header*/

/*nav*/
.navigation{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.navigation__logo-ul{
    display: flex;
    column-gap: 50px;
}
.navigation__list{
    align-items: center;
    display: flex;
    list-style-type: none;
    margin-bottom: 0;
}
.navigation__buttons{
    align-items: center;
    display: flex;
    column-gap: 10px;
}
.navigation__list__item a{
    color: #fff;
    cursor: pointer;
    margin-right: 20px;
    transition: all .25s ease,height .2s ease;
    padding-bottom: 8px;
    text-decoration: none;
}
.navigation__list__item a.active{
    padding-bottom: 8px;
    border-bottom: 1px solid #fff;
    text-transform: none;
}
.navigation__list__item a:hover{
    padding-bottom: 8px;
    border-bottom: 1px solid #fff;
    text-transform: none;
}
/*end nav*/

/*start process*/
.process{
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 200px;
}
.process__text{
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
}
.process__title{
    margin-bottom: 35px;
}
.process__subtitle{
    font-weight: 300;
    text-align: center;
    max-width: 550px;
}
.process__photos{
    display: flex;
    justify-content: center;
    margin-top: 45px;
    column-gap: 33px;
}
.photos__photo{
    border-radius: 12px;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
    object-fit: cover;
}
.photo-style-1{
    min-height: 285px;
    max-width: 225px;
}
.photo-style-2{
    min-height: 285px;
    max-width: 395px;
}
/*end process*/

/*start why*/
.why__text{
    align-items: center;
    flex-flow: column wrap;
    display: flex;
}
.why__title{
    margin-bottom: 35px;
}
.why__subtitle{
    font-weight: 300;
    text-align: center;
}
.why__cards{
    column-gap: 45px;
    margin-bottom: 200px;
    margin-top: 75px;
    padding: 0px 15px;
}
.why__cards__card{
    background-color: #fff;
    border: 1px solid #D3D3D3;
    border-radius: 10px;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
    color: #000;
    padding: 40px 50px 60px 50px;
    max-width: 340px;
}
.card__description{
    align-items: center;
    display: flex;
    flex-flow: column wrap-reverse;
}
.card__title{
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.1px;
    text-align: center;
}
.card__text{
    color: #5C5C5C;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: center;
}
/*end why*/

/*start contacts*/
.contacts__text{
    align-items: center;
    flex-flow: column wrap;
    display: flex;
}
.contacts__title{
    margin-bottom: 35px;
}
.contacts__content{
    margin-top: 50px;
}
.content__social, .content__git, .content__mail{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.content__social p, .content__social a,
.content__mail p, .content__mail a,
.content__git p, .content__git a{
    flex-basis: 100%;
}
.social__link, .mail__link, .git__link{
    margin-bottom: 16px;
}
/*end contacts*/

/*start about*/
.about{
    margin-bottom: 100px;
}
.about__item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.item__wrapper-img img{
    max-width: 100%;
    display: block;
}
.item__description{
    margin-top: 24px;
}
.description__title{
    margin-bottom: 12px;
}
.about-page header{
    margin-bottom: 100px;
}
.description__subtitle{
    font-weight: 300;
}
/* .about-page .contacts{
    margin-top: 50px;
} */
/*end about*/