*{
    margin: 0;
    padding: 0;
}

/*start main styles*/
body{
    background: #181818;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
}
.btn{
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    padding: 10px 20px;
    outline: none;
    transition: all .25s ease,height .2s ease;
}
.btn:hover{
    background-color: #fff;
    color: #000;
}
.bnt-blue{
    background-color: #4452FE;
    border: none;
    font-weight: 700;
}
.bnt-blue:hover{
    color: #4452FE;
}
/*end main styles*/

/*start header*/
header{
    margin-top: 30px;
}
.header{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}
.header__main-title{
    margin-bottom: 35px;
    margin-top: 100px;
    max-width: 600px;
    text-align: center;
    line-height: 1.4;
}
.header__text{
    font-weight: 300;
    text-align: center;
    max-width: 510px;
}
.logo{
    color: #fff;
    font-weight: 700;
}
.logo:hover{
    color: #fff;
    text-decoration: none;
}
.header__buttons{
    display: flex;
    column-gap: 30px;
    margin-top: 185px;
}
/*end header*/

/*nav*/
.navigation{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.navigation__list{
    align-items: center;
    display: flex;
    list-style-type: none;
    margin-bottom: 0;
}
.navigation__buttons{
    align-items: center;
    display: flex;
    column-gap: 10px;
}
.navigation__list__item a{
    color: #fff;
    cursor: pointer;
    margin-right: 20px;
    transition: all .25s ease,height .2s ease;
    padding-bottom: 8px;
    text-decoration: none;
}
.navigation__list__item a.active{
    padding-bottom: 8px;
    border-bottom: 1px solid #fff;
    text-transform: none;
}
.navigation__list__item a:hover{
    padding-bottom: 8px;
    border-bottom: 1px solid #fff;
    text-transform: none;
}
/*end nav*/